/* HEADER */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;

	z-index: 2;
}

.header-wrapper{
    padding: 10px 16px;
    background: linear-gradient(90deg, rgba(9,9,121,0) 34%, rgba(9, 9, 121, 0.74) 100%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
    margin: 10px;
    border-radius: 20px;
}

.header-logo{
    width: 200px;
    height: auto;
}

.header-icon {
    max-width: 50px;
}

.header-nav-item {
    font-weight: 300;
    font-size: 16px;
    padding-left: 40px;
    font-family: 'Space Grotesk';
    text-transform: capitalize;
    /* min-width: 120px; */
    font-weight: 700;
}

.header-nav-item.active,
.header-nav-item:hover{
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #036630 0%, #036630 33%, #03C75E 100%);;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.primary-slide {
    border: 4px solid var(--primary-color);
}

.content {
    margin-top: 100px;
    margin-bottom: 40px;
}

.mission {
    position: relative;
}

.mission-btn {
    position: absolute;
}

.mission-btn img {
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite; 
}

.start {
    top: 23%;
    left: 26%;
    width: 48%;
}

.claim {
    top: 70%;
    left: 47%;
    width: 48%;
}

.footer {
    background-color: var(--primary-color);
    margin-top: 40px;
}

.footer span {
    font-size: 12px;
}

.footer p {
    margin-bottom: 5px;
    font-size: 12px;
}

.footer .title {
    font-size: 14px;
    font-weight: 700;
}

.footer-logo {
    width: 120px;
}

.footer-icon {
    width: 40px;
    margin-right: 30px;
}

.footer .form {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin: 10px 0;
}

.footer .form input {
    border: none;
    outline: none;
    width: 70%;
    color: var(--primary-color);
    font-size: 14px;
}

.mission-logo img {
    max-width: 500px;
}

.mission .mw {
    max-width: 800px;
    width: 100%;
}

.mission-result {
    background-color: #4878e77c;
    border-radius: 20px;
}

.mission-result-item {
    width: 50%;
    padding: 15px;
}

.mission-result-item:first-child {
    border-right: 1px solid #fff;
}

.mission-result-item-title {
    font-weight: 400;
    text-align: center;
}

.mission-result-item-value {
    color: #F8A408;
    text-align: center;
    text-align: center;
    font-size: 20px;
}

.mission-title {
    max-width: 450px;
    width: 100%;
}

.mission-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    color: #000;

    max-width: 500px;
}

.mission-card-icon {
    width: 40px;
}

.mission-card .primary-button {
    color: #fff;
    padding: 15px 3px;
    border-radius: 20px;
    font-size: 14px;
}

.mission-card-name {
    font-weight: 600;
}

.mission-card-times {
    font-weight: 300;
}

.mission-card-award {
    font-weight: 600;
    font-size: 12px;
    
    border-radius: 10px;
    padding: 2px 10px 2px 2px;

    display: flex;
    align-items: center;
}

.mission-card-award img {
    width: 20px;
    margin-right: 5px;
}

.mission-card-award.gold {
    background-color: #FFF7C9;
}

.mission-card-award.blue {
    background-color: #AECEFF;
}

.mission-card-award+.mission-card-award {
    margin-left: 5px;
}

.gifts {
    background-color: rgba(0, 102, 255, 0.461);
    padding: 20px;
    border-radius: 20px;
}

.gift {
    height: 200px;
    background-color: rgb(0, 102, 255);
    border-radius: 20px;
}

.gift-card {
    padding: 20px;
    background-color: rgba(0, 102, 255, 0.255);
    border-radius: 25px;
    overflow: hidden;
}

.gift-card-name {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #FFE127 0%, rgba(227,88,4,1) 100%);
    padding: 8px 40px 8px 20px;
    font-weight: 600;
    font-size: 26px;
    border-bottom-right-radius: 60px;
}

.gift-card-img {
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
}

.gift-card-price {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 1px 0px #F8A408;
}

.gift-card-note {
    font-weight: 400;
}

.flex-1 {
    flex: 1;
}

.gift-card-title {
    font-weight: 600;
    text-align: center;
}

.gift-card-content {
    font-size: 14px;
}

.tutorial-steps .second-button {
    margin-right: 5px;
}


.tutorial-steps {
border-right: 1px dashed #fff;
position: relative;
}

.tutorial-title {
position: absolute;
right: 0;
top: -10px;
font-size: 13px;
border: 1px solid #FFDF16;
border-radius: 15px;
padding: 5px 10px;
}

.tutorial-title::before {
content: '';
position: absolute;
top: 50%;
left: -140%;
height: 2px;
background-color: #FFDF16;
width: 140%;
}

.second-button.tutorial-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -105%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #FFE127 0%, rgba(227,88,4,1) 100%);
}

.second-button.tutorial-button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -105%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #FFE127 0%, rgba(227,88,4,1) 100%);
}

.confirm {
    background-color: #004AB8;
    border-radius: 20px;
}

.confirm-title {
    padding: 10px;
    position: relative;
    height: 40px;
}

.confirm-title::before {
    content: "";
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    height: 50%;
    background-color: #EE8713;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.confirm-title::after {
    content: "";
    width: 30%;
    position: absolute;
    top: 42%;
    left: 35%;
    height: 50%;
    background-color: #EE8713;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.confirm-title-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.border-circle {
    font-size: 12px;
    border: 1px solid #FFDF16;
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
}















































